<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <!-- <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" /> -->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link th:href="@{/css/buyitem.css}" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" th:href="@{/css/starrr.css}"> -->
  </th:block>
  <div layout:fragment="content">
    <!-- 상품 이미지 표출-->
    <div class="container-fluid pb-5">
      <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
          <div id="product-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner bg-light">
              <div class="carousel-item active" th:each="productImg : ${result.productImgDtos}">
                <img class="w-100 h-100" th:if="${productImg.path != null}" th:src="|/upload/display?fileName=${productImg.getImageURL()}|" alt="Image"/>
              </div>
            </div>
            <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
              <i class="fa fa-2x fa-angle-left text-dark"></i>
            </a>
            <a class="carousel-control-next" href="#product-carousel" data-slide="next">
              <i class="fa fa-2x fa-angle-right text-dark"></i>
            </a>
          </div>
        </div>
        <!-- 상품 종류 및 구매 디자인 송출-->
        <div class="col-lg-7 h-auto mb-30">
          <div class="h-100 bg-light p-30">
            <h3 th:text="${result.pName}"></h3>
            <div class="d-flex mb-3">
              <p class="pt-1" th:text="'평점 : ' +${result.avg}"></p>
            </div>
            <h3 class="font-weight-semi-bold mb-4" th:text="${result.price} + '원'"></h3>
            <p class="mb-4" th:text=" '남은 재고 량 :'+ ${result.amount}"></p>

            <div class="d-flex align-items-center mb-4 pt-2">
              <div class="input-group quantity mr-3" style="width: 130px">
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-minus">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input type="text" class="form-control bg-secondary border-0 text-center" id="Value" value="1"/>
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-plus">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <button id="addCart" class="btn btn-primary px-3">
                <i class="fa fa-shopping-cart mr-1"></i>
                Add To Cart</button>
            </div>

          </div>
        </div>
      </div>
      <div class="row px-xl-5">
        <div class="col">
          <div class="bg-light p-30">
            <div class="nav nav-tabs mb-4">

              <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">리뷰
              </a>
            </div>
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab-pane-3">
                <div class="row">
                  <div class="col-md-6">
                    <!-- 리뷰 리스트 출력부 -->
                    <div class="reviewList" style="overflow: auto; overflow-y: scroll; width: 100%; height: 517.8px; padding: 10px"></div>
                  </div>
                  <!-- 리뷰 작성 폼 -->
                  <div class="col-md-6" sec:authorize="hasAnyRole('MEMBER','ADMIN' , 'OWNER')">
                    <form th:action="@{/review}" method="post" class="review_form">
                      <input type="hidden" name="reviewId" id="reviewId"/>
                      <input type="hidden" name="productId" id="productId" th:value="${result.productId}"/>
                      <h4 class="mb-4">리뷰등록</h4>
                      <small>Your email address will not be published. Required fields are marked *</small>
                      <div class="d-flex my-3">
                        <p class="mb-0 mr-2 ReviewStar">별점</p>
                        <!-- 별 모양으로 대체 -->
                        <div class="starrr"></div>
                      </div>
                      <div class="form-group">
                        <label for="message">리뷰내용</label>
                        <textarea id="text" cols="30" rows="5" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="name">닉네임</label>
                        <input type="text" class="form-control" id="memberNickname" readonly="readonly" th:value="${#authentication.principal.memberDto.memberNickname}"/>
                      </div>
                      <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" class="form-control" id="memberEmail" readonly="readonly" th:value="${#authentication.principal.memberDto.memberEmail}"/>
                      </div>
                      <div class="form-group mb-0">
                        <button class="btn btn-primary btn-sm">리뷰등록</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 관련 상품-->
    <div class="container-fluid py-5">
      <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">관련 상품</span></h2>
      <div class="row px-xl-5">
        <div class="col">
          <div class="owl-carousel related-carousel">
            <div class="product-item bg-light">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="https://via.placeholder.com/100" alt=""/>
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="far fa-heart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-sync-alt"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>$123.00</h5>
                  <h6 class="text-muted ml-2">
                    <del>$123.00</del>
                  </h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
            <div class="product-item bg-light">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="https://via.placeholder.com/100" alt=""/>
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="far fa-heart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-sync-alt"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>$123.00</h5>
                  <h6 class="text-muted ml-2">
                    <del>$123.00</del>
                  </h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
            <div class="product-item bg-light">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="https://via.placeholder.com/100" alt=""/>
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="far fa-heart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-sync-alt"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>$123.00</h5>
                  <h6 class="text-muted ml-2">
                    <del>$123.00</del>
                  </h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
            <div class="product-item bg-light">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="https://via.placeholder.com/100" alt=""/>
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="far fa-heart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-sync-alt"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>$123.00</h5>
                  <h6 class="text-muted ml-2">
                    <del>$123.00</del>
                  </h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
            <div class="product-item bg-light">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="https://via.placeholder.com/100" alt=""/>
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="far fa-heart"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-sync-alt"></i>
                  </a>
                  <a class="btn btn-outline-dark btn-square" href="">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>$123.00</h5>
                  <h6 class="text-muted ml-2">
                    <del>$123.00</del>
                  </h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
          <form th:action="@{buyitem}" method="post" id="buyitemForm">
            <input type="hidden" name="storeId" th:value="${storeId}">
            <input type="hidden" name="amount">
            <input type="hidden" name="memberEmail" th:value="${#authentication.name}">
            <input type="hidden" name="productId" th:value="${result.productId}">
          </form>
        </div>

        <script>
          const imgs = "[[${result.productImgDtos}]]"
          console.log(imgs)

          const productId = "[[${result.productId}]]";
          const user = "[[${#authentication.principal.memberDto.memberEmail}]]";
          const csrfValue = "[[${_csrf.token}]]";
          const memberNickname = "[[${#authentication.principal.memberDto.memberNickname}]]";

          const shopping_cart_amount = "[[${orderItemCount}]]";
          if (shopping_cart_amount) {
            document
              .querySelector("#orderItemCount")
              .innerHTML = shopping_cart_amount;
          }
          const userRole = "[[${#authentication.principal.memberDto.memberRole}]]"
        </script>

        <script th:src="@{/js/review.js}"></script>
        <script th:src="@{/js/buyitem.js}"></script>

      </div>
    </div>
  </div>

  <th:block layout:fragment="script"></th:block>
</html>
