<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link th:href="@{/css/buyitem.css}" rel="stylesheet" /> -->
  </th:block>
  <div style="overflow-x: hidden" layout:fragment="content" class=" ">
    <div class="container-fluid">
      <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">문의 사항</span></h2>
      <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
          <div class="contact-form bg-light p-30">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="성함"
                  required="required"
                  th:value="${#authentication.principal}  != 'anonymousUser' ? ${#authentication.principal.memberDto.memberName}: ''"
                  data-validation-required-message="성함을 입력해 주세요"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="이메일"
                  required="required"
                  th:value="${#authentication.principal}  != 'anonymousUser' ? ${#authentication.principal.memberDto.memberEmail} : ''"
                  data-validation-required-message="이메일을 입력해 주세요"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="제목"
                  required="required"
                  data-validation-required-message="제목을 입력해 주세요"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <textarea
                  class="form-control"
                  rows="8"
                  id="message"
                  placeholder="건의사항"
                  required="required"
                  data-validation-required-message="건의사항을 입력해 주세요"
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div>
                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">문의 하기</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5 mb-5">
          <div class="bg-light p-30 mb-30">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.3939061816686!2d126.98543067939752!3d37.56934116446161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2e89e08e16b%3A0xf8955b2100de16c3!2z7IaU642w7Iqk7YGsIOyiheuhnOuzuOybkA!5e0!3m2!1sko!2skr!4v1717134353655!5m2!1sko!2skr"
              width="100%"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="bg-light p-30 mb-3">
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>서울특별시 종로구 종로12길 15</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>http://soldesk.com/</p>
            <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+02-6901-7001</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
