<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link th:href="@{/css/list.css}" rel="stylesheet" /> -->

    <style>
      details {
        margin: 5px 0 10px;
      }

      details > summary {
        background: #444;
        color: #fff;
        padding: 10px;
        outline: 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.5s;
        text-align: left;
        box-shadow: 1px 1px 2px gray;
      }

      details > summary::-webkit-details-marker {
        background: #444;
        color: #fff;
        background-size: contain;
        transform: rotate3d(0, 0, 1, 90deg);
        transition: transform 0.25s;
      }

      details[open] > summary::-webkit-details-marker {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      details[open] > summary {
        background: #444;
      }

      details[open] > summary~* {
        animation: reveal 0.5s;
      }

      .tpt {
        background: #444;
        color: #fff;
        margin: 5px 0 10px;
        padding: 5px 10px;
        line-height: 25px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px gray;
      }

      @keyframes reveal {
        from {
          opacity: 0;
          transform: translate3d(0, -30px, 0);
        }

        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    </style>
  </th:block>
  <div style="overflow-x: hidden" layout:fragment="content">
    <div class="row">
      <details>
        <summary th:text="'지역 별로 검색 (현재 검색 타입: '+${requestDto.keyword}+')'">다른 지역을 검색</summary>
        <div class="tpt">
          <header class="container-fluid bg-gray-100 py-5">
            <div class="row px-xl-5">
              <div class="col-lg-5 ">
                <figure class="mb-4 align-content-center">
                  <ul>
                    <li style="display: block"><img th:src="@{/image/image.png}" alt="서울시전체" title="서울시전체" usemap="#Map"/></li>
                  </ul>
                  <map name="Map" id="Map">
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='강남',orderItemCount=${orderItemCount})}" shape="poly" coords="322,280,339,267,353,271,368,281,376,287,384,302,391,320,412,327,434,339,446,354,453,368,441,376,419,376,410,352,387,357,371,356,353,348,351,331,339,325,332,300,326,294" alt="강남구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='강동',orderItemCount=${orderItemCount})}" shape="poly" coords="445,241,447,215,486,203,507,189,517,214,527,235,516,245,489,259,476,284,453,273,455,255" alt="강동구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='강북',orderItemCount=${orderItemCount})}" shape="poly" coords="280,37,299,27,307,41,313,47,313,54,311,67,308,75,314,85,322,90,357,123,345,133,335,141,323,134,312,128,303,115,293,103,273,99,269,79,277,66,287,51" alt="강북구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='강서',orderItemCount=${orderItemCount})}" shape="poly" coords="49,154,84,184,108,200,149,238,117,237,105,267,83,255,66,252,39,252,17,248,6,227,22,204,35,189,38,164" alt="강서구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='관악',orderItemCount=${orderItemCount})}" shape="poly" coords="178,343,203,330,216,335,233,331,248,334,247,351,265,360,283,376,249,402,237,411,215,405,200,390,193,379,189,356,173,338" alt="관악구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='광진',orderItemCount=${orderItemCount})}" shape="poly" coords="398,213,412,211,422,215,428,223,431,241,427,254,420,269,403,277,384,277,376,267,382,254,391,239,394,227" alt="광진구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='구로',orderItemCount=${orderItemCount})}" shape="poly" coords="70,303,84,316,94,316,106,304,116,308,128,309,143,298,157,310,170,342,158,343,124,328,113,333,110,338,99,343,88,350,68,349,71,329,64,314" alt="구로구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='금천',orderItemCount=${orderItemCount})}" shape="poly" coords="140,340,156,350,175,354,176,364,183,374,186,385,193,391,194,398,182,410,167,407,157,386,152,378,151,362,142,351" alt="금천구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='노원',orderItemCount=${orderItemCount})}" shape="poly" coords="364,24,390,14,397,24,412,24,410,32,407,44,410,54,409,63,400,69,404,78,414,90,428,94,432,107,422,115,420,124,410,126,404,124,392,130,379,133,364,127,360,116,356,106,361,100,375,92,375,72,368,60,361,46,368,33" alt="노원구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='도봉',orderItemCount=${orderItemCount})}" shape="poly" coords="305,18,313,3,327,6,333,18,346,19,359,25,354,40,359,54,366,66,367,79,366,92,357,92,349,101,334,90,318,78,320,64,326,47,316,40" alt="도봉구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='동대문',orderItemCount=${orderItemCount})}" shape="poly" coords="386,155,380,164,384,174,385,184,395,194,391,204,389,218,371,213,360,202,347,194,335,196,341,182,351,171,366,163" alt="동대문구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='동작',orderItemCount=${orderItemCount})}" shape="poly" coords="206,295,224,292,240,296,260,303,269,310,274,321,273,338,268,350,256,345,252,326,241,324,228,323,218,323,199,328,174,334" alt="동작구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='마포',orderItemCount=${orderItemCount})}" shape="poly" coords="160,178,169,200,184,208,195,214,199,230,212,235,236,233,245,234,238,250,227,258,216,254,193,250,171,234,155,222,138,212,129,200,139,193,144,179" alt="마포구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='서대문',orderItemCount=${orderItemCount})}" shape="poly" coords="225,156,239,165,241,176,241,189,243,204,245,210,245,220,228,228,208,225,203,214,194,208,181,196,187,187,209,182,217,170" alt="서대문구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='서초',orderItemCount=${orderItemCount})}" shape="poly" coords="284,312,304,302,318,306,329,322,336,342,346,348,356,358,370,374,389,366,403,367,412,374,408,389,397,400,379,411,369,422,351,414,344,400,340,375,330,372,322,378,309,378,303,370,295,362,284,360,279,352,280,338,284,328" alt="서초구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='성동',orderItemCount=${orderItemCount})}" shape="poly" coords="330,209,346,202,355,209,360,222,386,226,383,239,373,249,371,260,358,259,344,252,330,256,315,258,310,247,322,232,335,219" alt="성동구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='성북',orderItemCount=${orderItemCount})}" shape="poly" coords="265,111,271,107,285,112,291,119,306,132,314,142,333,150,353,138,366,142,381,145,369,154,352,160,337,168,331,178,322,190,305,179,297,170,280,166,284,150,281,132,274,118" alt="성북구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='송파',orderItemCount=${orderItemCount})}" shape="poly" coords="388,294,413,292,430,281,439,266,449,274,464,294,470,306,492,317,490,329,484,340,469,352,450,350,438,331,419,318,400,310,391,308,388,297" alt="송파구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='양천',orderItemCount=${orderItemCount})}" shape="poly" coords="82,260,90,278,110,272,121,259,122,246,144,248,153,262,147,271,136,286,130,296,110,299,96,296,85,305,70,285,74,271" alt="양천구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='영등포',orderItemCount=${orderItemCount})}" shape="poly" coords="161,253,205,266,220,283,205,290,193,302,184,315,164,322,163,304,153,291,148,281,158,268" alt="영등포구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='용산',orderItemCount=${orderItemCount})}" shape="poly" coords="251,242,265,236,284,245,303,250,312,260,311,270,297,282,290,294,277,292,259,284,250,281,239,275,231,266,245,261,251,248" alt="용산구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='은평',orderItemCount=${orderItemCount})}" shape="poly" coords="220,76,236,80,242,91,250,97,256,105,240,115,230,126,228,139,224,150,212,162,200,174,187,180,170,187,167,177,172,168,166,142,173,134,184,93" alt="은평구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='종로',orderItemCount=${orderItemCount})}" shape="poly" coords="259,112,275,149,268,162,273,172,287,178,297,185,309,194,319,200,295,202,281,207,263,200,255,202,247,190,247,172,243,157,232,148,236,131,245,120" alt="종로구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='중구',orderItemCount=${orderItemCount})}" shape="poly" coords="253,223,261,212,284,215,299,214,319,214,322,224,310,234,297,242,278,236,265,226" alt="중구"/>
                    <area th:href="@{list(page=${requestDto.page},type='a', keyword='중랑',orderItemCount=${orderItemCount})}" shape="poly" coords="393,142,407,132,419,138,432,132,439,136,442,144,440,158,442,166,435,174,431,185,429,192,420,200,409,204,402,202,404,191,399,176,391,171,389,165,398,156" alt="중랑구"/>
                  </map>
                </figure>
              </div>
              <div class="col-lg-7" style="overflow: auto; height: 500px;">
                <div class="title text-dark">
                  추천 시장</div>
                <table class="table table-light table-borderless table-hover text-center mb-0">
                  <thead class="thead-dark">
                    <tr>
                      <th>시장명</th>
                      <th>시장주소</th>
                      <th>장사시간</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tbody>
                      <tr th:each="shop : ${result.dtoList}" col-xl-6="col-xl-6" col-md-12="col-md-12">
                        <td th:if="${shop == ''}">
                          등록된 시장이 없습니다.</td>
                        <td class="align-middle text-center" th:each="image : ${shop.storeImgDtos}">
                          <img class="img-fluid rounded" th:if="${image.stPath != null}" th:src="|/upload/display?fileName=${image.getImageURL()}|" alt="..."/>
                          <a class="text-dark" th:href="@{storeproducts(storeId=${shop.storeId},page=${requestDto.page},type=${requestDto.type}, keyword=${requestDto.keyword},orderItemCount=${orderItemCount})}">
                            <span th:text="${shop.storeName} "></span></a>
                        </td>
                        <td class="align-middle" th:text="${shop.storeAddress} "></td>
                        <td class="align-middle" th:text="${shop.openTime} +'~'+${shop.closeTime}"></td>
                      </tr>
                    </tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </header>
        </div>
      </details>
      <!-- Post content-->
      <!-- Section-->
      <section class="py-5">
        <div class="container-fluid">
          <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->

            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="">
              <div class="row pb-3">
                <div class="col-12 pb-1"></div>
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="shop : ${result.dtoList}">
                  <div class="product-item bg-light mb-4">
                    <!-- img 보여주는 영역 -->

                    <div id="carouselExampleIndicators" class="carousel slide">
                      <div class="carousel-indicators"></div>
                      <div class="carousel-inner">
                        <div class="carousel-item active" th:each="image : ${shop.storeImgDtos}">
                          <figure class="mb-4">
                            <img class="img-fluid rounded" th:if="${image.stPath != null}" th:src="|/upload/display?fileName=${image.getImageURL()}|" alt="..."/>
                          </figure>
                        </div>
                      </div>
                    </div>

                    <div class="text-center py-4">
                      <a class="h6 text-decoration-none text-truncate" th:href="@{storeproducts(storeId=${shop.storeId},page=${requestDto.page},type=${requestDto.type}, keyword=${requestDto.keyword},orderItemCount=${orderItemCount} != null ? ${orderItemCount}: 0)}" th:text="${shop.storeName} +'(가게 지역 :' +(${shop.storeAddress})+')'"></a>
                      <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5 th:text="${shop.openTime}"></h5>
                        <h5>~</h5>
                        <h5 th:text="${shop.closeTime}"></h5>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-1">
                        <small th:text=" '가게 평점 : '+${shop.gradeAvg}"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Shop Product End -->
          </div>
        </div>
      </section>
    </div>
    <!-- 페이지 나누기 영역 -->
    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
      <span class="flex items-center col-span-3"></span>
      <span class="col-span-2"></span>
      <!-- Pagination -->
      <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-content-center">
        <nav aria-label="Table navigation">
          <ul class="inline-flex items-center">
            <li th:if="${result.prev}">
              <a class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous" th:href="@{list(page=${result.start-1}, type=${requestDto.type}, keyword=${requestDto.keyword})}">
                <svg aria-hidden="true" class="w-4 h-4 fill-current" viewbox="0 0 20 20">
                  <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </a>
            </li>
            <li th:each="page : ${result.pageList}">
              <a class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" th:href="@{list(page=${page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" th:text="${page}"></a>
            </li>
            <li th:if="${result.next}">
              <a class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next" th:href="@{list(page=${result.end+1}, type=${requestDto.type}, keyword=${requestDto.keyword})}">
                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewbox="0 0 20 20">
                  <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </span>
    </div>
    <script>
      const shopping_cart_amount = "[[${orderItemCount}]]";
      if (shopping_cart_amount) {
        document
          .querySelector("#orderItemCount")
          .innerHTML = shopping_cart_amount;
      }
    </script>
  </div>

  <th:block layout:fragment="script">
    <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->

    <script>
      window.onload = function () {
        const remove_Msg = "[[${msg}]]";

        if (remove_Msg) {
          alert(remove_Msg + ".No Store Removed");
        }
      };
    </script>
  </th:block>

</html>
