<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/upload.css}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link th:href="@{/css/styles.css}" rel="stylesheet" /> -->
  </th:block>
  <div layout:fragment="content" class="container px-6 mx-auto grid">
    <form th:action="@{pModify}" method="post" id="register-form" th:object="${productDto}" novalidate="novalidate">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-8">
            <!-- Post content-->
            <article>
              <!-- Post header-->
              <header class="mb-4">
                <!-- Post title-->
                <!-- store title -->

                <!-- Post meta content-->
                <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div> -->
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
              </header>

              <!-- 실제로 보여줄 화면 -->
              <div class="uploadResult mt-4">
                <ul>
                  <li th:each="image : ${productDto.productImgDtos}" th:attr="data-file=${image.getImageURL()}, data-name=${image.getImgName()}, data-path=${image.getPath()}, data-uuid=${image.getUuid()}">
                    <div>
                      <a href="">
                        <img class="block" th:if="${image.path != null}" th:src="|/upload/display?fileName=${image.getThumbImageURL()}|"/>
                      </a>
                      <span class="text-sm d-inline-block mx-1" th:text="${image.imgName}"></span>

                      <button type="button" class="btn btn-primary">삭제</button>
                    </div>
                  </li>
                </ul>
              </div>

              <label class="block mt-4 text-sm form-label mb-5">
                <span class="block text-gray-700 dark:text-gray-400">
                  Image Files
                </span>
                <input type="file" class="block w-full mt-1 form-control text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" id="fileInput" multiple="multiple"/>
              </label>

              <!-- Preview image figure-->
              <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
              <!-- Post content-->
              <section class="mb-5">
                <input type="hidden" name="productId" th:value="${productDto.productId}"/>
                <input type="hidden" name="storeId" th:value="${storeId}"/>
                <input type="hidden" name="amount" th:value="${productDto.amount}"/>
                <input type="hidden" name="avg" th:value="${productDto.avg}"/>
                <input type="hidden" name="orderItemId" th:value="${productDto.orderItemId}"/>

                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Product Name</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" placeholder="Product Name" name="pName" th:value="${productDto.pName}"/>
                  <div th:if="${#fields.hasErrors('pName')}" th:errors="*{pName}" class="text-danger"></div>
                  <div th:if="${error}" class="text-danger" th:text="${error}"></div>
                </label>

                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Product Price</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" placeholder="Product Price" name="price" th:value="${productDto.price}" id="priceInput"/>
                  <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div>
                  <div th:if="${error}" class="text-danger" th:text="${error}" id="inputError"></div>
                </label>
              </section>
            </article>
          </div>
          <div class="flex flex-col flex-wrap mb-8 space-y-4 md:flex-row md:items-end md:space-x-5 mt-3">
            <div>
              <a>
                <button class="btn btn-success flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white" type="submit">
                  <span>상품 수정 등록</span>
                </button>
              </a>
            </div>

            <div class="mx-2">
              <a th:href="@{/shop/storeproducts(storeId=${storeId},page=${requestDto.page},type=${requestDto.type},keyword=${requestDto.keyword})}">
                <button type="button" class="btn btn-info flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white">
                  상품 목록
                </button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </form>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/pUpload.js}"></script>
  </div>
  <th:block layout:fragment="script">
    <script>
      // csrf 토큰 설정
      const csrfValue = "[[${_csrf.token}]]";
    </script>
    <!-- <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- Core theme JS-->
  </th:block>
</html>
